/*************************************************************
 * File name: HW_INFO152/hw2/index.php
 * Purpose: INFO152-HW2, Build and Enhance “Product Discount”
 * Author: Vincent R. Cinque
 * DrexelId: vrc45
 * Complete Date: 2024/03/24
 ************************************************************/

 header{
    h1{
        color: red;
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
        
    }
}

#logo-container{

    img{
        display: flex;
        justify-content: center;
        margin-left: 42%;
        max-width: 300px;
        margin-bottom: 3%;
    }
}

#age{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    padding: 10px;

    form{
        border: 2px solid black;
        padding: 2%;
    }
}



footer{
    ul{
        li{
            display: inline-block;
            margin-top: 8%;
            margin-left: 14%;
            margin-bottom: 0;
            padding: 1%;
            a{
                text-decoration: none;
                color: black;
            }
            
        }
    }

}

#author{ 
    color: gray;
    display: flex;
    justify-content: flex-end;
    margin-top: 31%;
    font-size: smaller;
}
